.adminHeadWrapper {
  background-color: #2d2d2d;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 15px;
}

.LogoWrapper {
  display: flex;
}

#adminLogo {
  margin-right: 10px;
  height: 100%;
}

#adminTitle {
  height: 100%;
}

.ServiceWrapper {
  display: flex;
  align-items: center;
}

.MemberName {
  color: #acacac;
  font-size: 1rem;
  position: relative;
  right: 10rem;
}

.AdminServiceBtn {
  background-color: transparent;
  color: #acacac;
  height: 30px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
